<h1>Welcome</h1>

<h3>To start from:</h3>

<p>Link to <%= link_to 'Goods list', goods_path %></p>
<p>Link to <%= link_to 'Baskets', baskets_path %></p>
<p>Link to <%= link_to 'Users page', users_path %></p>
<p>Link to <%= link_to 'Admins page', admins_path %></p>
